@model Produto

<h1>Página de Teste</h1>

<form action="/teste/form" method="post">
    Nome: <input type="text" name="nome"> <br>
    Descrição: <input type="text" name="descricao"> <br>
    Valor: <input type="number" name="valor"> <br>

    <input type="submit" value="Salvar">
</form>